<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: rgba(128, 128, 128, 1.5);
            background-size: cover;
            background-position: center center;
            overflow: hidden;
        }
        p {
            color: white;
        }
        h3 {
            color: white
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="text-center">
    <h1 style="color:white;">Все предложения</h1>
    <a href=/home><i style="font-size: 4em; color: white;" class="fa-solid fa-house"></i></a>
</div>
<hr>
<hr>

<div class="d-flex">
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white w-75" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Все задачи</span>
    </a>
    {% for todo in todos %}
        <div class="list-group list-group-flush border-bottom scrollarea">
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                #{{todo.id}}
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{todo.title}}</strong>
                    {% if todo.status %}
                        <small class="text-success">Выполнено</small>
                    {% else %}
                        <small class="text-warning">Не выполнено</small>
                    {% endif %}
                </div>
                <div class="col-10 mb-1 small">{{todo.description}}</div>
            </a>
        </div>
    {% else %}
      <div class="alert alert-danger" role="alert">
        Нет постов в базе данных!
      </div>
    {% endfor %}
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>